<h1>Fwitter</h1>
Any similarties to Twitter are purely coincidental

<p><%= "#{@tweet_1.username} says: #{@tweet_1.content}" %></p>
<p><%= "#{@tweet_2.username} says: #{@tweet_2.content}" %></p>
<p><%= "#{@tweet_3.username} says: #{@tweet_3.content}" %></p>